.title {
    text-align: center;
}

table {
    width: 40%;
    float: left;
    text-align: center;
    margin-left: 25em;
    margin-top: 2em;
}

td {
    border-bottom: 1px solid;

}

th {
    border-bottom: 1px solid;
}